*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

.large_1{
	background-image: url(../image/first01.jpg);
	background-size: cover;
	color: #777;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	left: 0;
	
}
.large_2{
	width: 100%;
    height: 100%;
	position: absolute;
	top: 100%;
	background-color: aqua;
}
.large_3{
	width: 100%;
	height: 100%;
	position: absolute;
	top:200%;
	background-color: bisque;
}
.large_4{
	width: 100%;
	height: 100%;
	position: absolute;
	top:300%;
	background-color:rosybrown;
}
#fixed{
	position: fixed;
	left: 50px;
	bottom:50px
}
#fixed>li{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #777;
	margin-top: 10px;
	text-align: center;
	line-height: 40px;
	font-weight: 900;
	color: white;
	cursor: pointer;
}

/* 第一个页面内容star */
.tonter{
width: 1140px;	
margin: 0 auto;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
    color: #333333;
}

.nav>li>a{
	color: #777777;
	font-size: 16px;
}

.nav-bar{
	width: 100%;
	background-color: rgb(252,252,252);
}

.content{
	margin: 100px 200px;
	background-color: transparent;
}

h1{
	font-size: 60px;
	font-weight: 700;
}

#cg{
	margin-top: 100px;	
}

#introduceone{
	font-size: 30px;
}

#introducetwo{
	font-size: 20px;	
}

.introduce{
	margin-bottom: 50px;
	text-align: center;
}
/* 第一个页面内容end */

