body{
	background-image: url(/image/index.jpg);
	background-size: cover;
	color: #777;	
}

.large{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(252,252,252,0.5);
}

.tonter{
width: 1140px;	
margin: 0 auto;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
    color: #333333;
}

.nav>li>a{
	color: #777777;
	font-size: 16px;
}

.nav-bar{
	width: 100%;
	background-color: rgb(252,252,252);
}

.content{
	margin: 100px 200px;
	background-color: transparent;
}

h1{
	font-size: 60px;
	font-weight: 700;
}

#cg{
	margin-top: 100px;	
}

#introduceone{
	font-size: 30px;
}

#introducetwo{
	font-size: 20px;	
}

.introduce{
	margin-bottom: 50px;
	text-align: center;
}