body{
    background-image: url(/image/stock-photo-198664175.jpg);
    background-size: cover;
}
.surface{
    text-align: center;
    width: 600px;
    height: 500px;
    /* margin: 0 auto; */
    /* margin-top: 200px; */
    background-color: rgba(254, 255, 223, 0.6);
    padding: 30px;
    position:absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}
