body{
    background-image: url(/image/updatepwbg.jpg);
    background-size: cover;
    
}

#updatepwdiv{
    background-color: rgba(0, 0, 0, 0.1);
    width: 40%;
    height: 400px;
    position: relative;
    top:50px;
    left: 20px;
}