<% include header.html %> 
        <!-- 内容区域 -->
        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div style="padding: 15px;">
                <ul class="layui-nav layui-bg-green" >
                    <li>首页</li><span>>>>></span>
                    <li>分类管理</li>
                </ul>
                <!-- 表格区域   -->
                <table class="layui-table">
                    <colgroup>
                      <col width="150">
                      <col width="200">
                      <col>
                    </colgroup>
                    <thead>
                      <tr>
                        <th>序号</th>
                        <th>名称</th>
                        <th>添加时间</th>
                        <th>操作</th>
                      </tr> 
                    </thead>
                    <tbody>
                      <%
                      let n=0 
                      for(let w of worklist){
                        n++;  
                        %>
                      <tr>
                        <td><%=n%></td>
                        <td><%=w.wname%></td>
                        <td><%=w.addtime.toLocaleString()%></td>
                        <td><a href="javascript:void(0)" class="del" wid="<%=w.wid%>">删除</a>
                            |
                            <a href="/admin/work/update?wid=<%=w.wid%>">修改</a></td>
                      </tr>
                      <%}%>
                    </tbody>
                  </table>
            </div>
        </div>

 <% include footer.html %> 