<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人作品上传</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/addpersonwork.css">
</head>

<body>
    <!-- 导航 -->
    <div class="nav-bar">
        <div class="tonter">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active" role="presentation">
                        <a href="/">首页</a>
                    </li>
                    <li role="presentation">
                        <a href="">精选中心</a>
                    </li>
                    <li role="presentation">
                        <a href="">个人中心</a>
                    </li>
                    <li role="presentation">
                        <a id="" href="">关于我们</a>
                    </li>
                    <li role="presentation">
                        <a id="/" href="register">注册</a>
                    </li>
                    <li role="presentation">
                        <a id="" href="/login">登录</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 个人作品上传 -->
    <div id="personwork">
        <br>
        <h1>作品上传</h1>
        <br>
        <form class="layui-form" action="" id="uploaddata">
            <div class="layui-form-item">
                <label class="layui-form-label">标题：</label>
                <div class="layui-input-block">
                    <input type="text" name="ptitle" required lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">作者：</label>
                <div class="layui-input-block">
                    <input type="text" name="username" required lay-verify="required" placeholder="请输入昵称" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">分类：</label>
                <div class="layui-input-block">
                    <select name="wname" lay-verify="required">
                        <option value=""></option>
                        <option value="0">人文</option>
                        <option value="1">风景</option>

                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">心情：</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="like[write]" title="写生">
                    <input type="checkbox" name="like[read]" title="阅读">
                    <input type="checkbox" name="like[dai]" title="发呆">
                    <input type="checkbox" name="like[dai]" title="旅游" checked>
                    <input type="checkbox" name="like[dai]" title="收集">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">上传图片:</label>
                <div class="layui-input-block">
                    <input type="button" id="uploadpic" value="上传图片">
                    <!-- 点击上面的input触发下面的input，且可以上传多张图片 -->
                    <input type="file" multiple name="images" id="images" class="hide" accept="image/jpeg,image/jpg,image/gif,image/svg" >
                    <!-- 存放图片的输入框,保存图片的地址 -->
                    <input type="hidden" name="imglist"  id="imglist" value="">
                    <!-- 放置图片的div -->
                    <div class="imglist" ></div>
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">作品描述：</label>
                <div class="layui-input-block">
                    <textarea name="description" placeholder="请输入内容" class="layui-textarea"></textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo" id="addpersonwork">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/layui/layui.all.js"></script>
    <script src="/js/addpersonwork.js"></script>
</body>
<script>
    //Demo
    layui.use('form', function () {
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function (data) {
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });
</script>

</html>