<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>personal</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/personal.css">

</head>

<body>

    <div class="nav-bar">
        <div class="tonter">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active" role="presentation">
                        <a href="/">首页</a>
                    </li>
                    <li role="presentation">
                        <a href="">精选中心</a>
                    </li>
                    <li role="presentation">
                        <a href="/personal">个人中心</a>
                    </li>
                    <li role="presentation">
                        <a href="">关于我们</a>
                    </li>
                    <li role="presentation">
                        <a href="register">修改密码</a>
                    </li>
                    <li role="presentation">
                        <a href="/logout">退出登录</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="information">
            <h1>
                欢迎您：
                <%=r%>
            </h1>
        </div>

        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
            <ul class="layui-tab-title">
                <li class="layui-this">个人资料</li>
                <li>我的发布</li>
                <li>我的收藏</li>
                <li>我的评论</li>
            </ul>
            <div class="layui-tab-content">

                <div class="layui-tab-item">
                    <div class=" informationtabel">
                        <form class="layui-form" action="">
                            <div class="layui-form-item">
                                <label class="layui-form-label">用户名</label>
                                <div class="layui-input-block">
                                    <input type="text" name="title" required lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">住址</label>
                                <div class="layui-input-block">
                                    <select name="city" lay-verify="required">
                                        <option value=""></option>
                                        <option value="0">北京</option>
                                        <option value="1">上海</option>
                                        <option value="2">广州</option>
                                        <option value="3">深圳</option>
                                        <option value="4">杭州</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">爱好</label>
                                <div class="layui-input-block">
                                    <input type="checkbox" name="" title="出行">
                                    <input type="checkbox" name="" title="运动">
                                    <input type="checkbox" name="" title="摄影">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">性别</label>
                                <div class="layui-input-block">
                                    <input type="radio" name="sex" value="男" title="男">
                                    <input type="radio" name="sex" value="女" title="女" checked>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block" style="text-align: center">
                                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="layui-tab-item">
                    <div class="row">
                        <% for(let p of postlist){
                                let imglist=[];
                                if(p.imglist){
                                    imglist = JSON.parse(p.imglist);
                                }else{
                                    imglist=["https://picsum.photos/300/405"];
                                }
                            %>
                            <div class="col-sm-3 conterone">
                                <div class="row">
                                    <div class="col-sm-12 conterimg" style="background-image: url(<%-imglist[0].replace(/\\/g, '/')%>);"></div>
                                    <div>
                                        <p class="imageone">标题:
                                            <%=p.ptitle%>
                                        </p>
                                        <p class="imageone">下载量：
                                            <%=p.uploadnums%>
                                        </p>
                                        <p class="imageone">创建时间：
                                            <%=p.addtime.toLocaleString()%>
                                        </p>
                                        <p class="imageone">描述：
                                            <%=p.description%>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <%}%>
                    </div>
                </div>


                <div class="layui-tab-item">
                    <div class="row">
                        <% for(let p of postlist){
                                let imglist=[];
                                if(p.imglist){
                                    imglist = JSON.parse(p.imglist);
                                }else{
                                    imglist=["https://picsum.photos/300/405"];
                                }
                            %>
                            <div class="col-sm-3 conterone">
                                <div class="row">
                                    <div class="col-sm-12 conterimg" style="background-image: url(<%-imglist[0].replace(/\\/g, '/')%>);"></div>
                                    <div>
                                        <p class="imageone">标题:
                                            <%=p.ptitle%>
                                        </p>
                                        <p class="imageone">下载量：
                                            <%=p.uploadnums%>
                                        </p>
                                        <p class="imageone">创建时间：
                                            <%=p.addtime.toLocaleString()%>
                                        </p>
                                        <p class="imageone">描述：
                                            <%=p.description%>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <%}%>
                    </div>
                </div>

                <div class="layui-tab-item">
                    我的评论
                </div>
            </div>
        </div>
    </div>

</body>
<script src="/jquery/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/layui/layui.all.js"></script>

</html>