<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Document</title>
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/css/register.css" />
	</head>

	<body>
		<div>

			<div class="row">
				<div class="left col-sm-5">
					<div class="leftone col-sm-12">
					</div>
				</div>
				<div class="contentone col-sm-5">
					<h1><a href="/">视野</a></h1>
					<p>访问其他任何地方都找不到的603,065张免费高分辨率照片</p>
				</div>

				<div class="right col-sm-7 col-sm-offset-5">
					<div class="rightcontent">
						<h2>用户注册</h2>
						<p>已有账号？
							<a href="/login">登录</a>
						</p>
					</div>
					<div class="rightform">
						<form id="regform">
							<div class="form-group">
								<label for="username">账号</label>
								<input type="text" class="form-control" id="username" name="username" placeholder="请输入账号"><span class="h"></span>
							</div>
							
							<div class="form-group">
								<label for="passwordone">密码</label>
								<input type="password" class="form-control" id="passwordone" name="passwordone" placeholder="请输入密码"><span class="h"></span>
							</div>
							
							<div class="form-group">
								<label for="passwordtwo">确认密码</label>
								<input type="password" class="form-control" id="passwordtwo" name="passwordtwo" placeholder="请重复输入密码"><span class="h"></span>
							</div>
							
							<div class="form-group">
								<label for="email">邮箱</label>
								<input type="email" class="form-control" id="email" name="email" placeholder="请输入邮箱"><span class="h"></span>
							</div>
							
							<div class="form-group">
								<label for="tel">手机号</label>
								<input type="tel" class="form-control" id="tel" name="tel" placeholder="请输入手机号"><span class="h"></span>
							</div>
							
							
							<button type="button" class="form-control regbtn">立即注册</button>
						</form>
						<p>立即注册即表示您同意本<a href="">条款</a>和<a href="">隐私政策</a>。</p>
					</div>
				</div>
			</div>

		</div>
	</body>
	<script src="/jquery/jquery.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="/js/user.js"></script>

</html>